<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Techs</title>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<form>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Name</th>
								<th scope="col">Phone Number</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="currentTech : ${techs}">
								<td th:text="${currentTech.id}" />
								<td th:text="${currentTech.name}" />
								<td th:text="${currentTech.phoneNumber}" />
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<a href="../inputTech">Add a new tech</a>
</body>
</html>